.heroSwiper {
    height:100%;
    width:100%;
    overflow:hidden;
    }
    
    .swiper-slide{
    display:flex;
    justify-content:center;
    align-items:center;
    }
    
    .slide-img{
    position:absolute;
    right:-50%;
    top:20%;
    transform:translateY(-50%) scale(0.5);
    width:clamp(180px, 20vw, 300px);
    aspect-ratio:1;
    filter:blur(20px);
    transition:1.5s ease;
}
    
    .slide-img img{
    width:100%;
    height:100%;
    object-fit:contain;
    }
    
    .slide-img-blur{
    opacity:0;
    position:absolute;
    }
    
    .swiper-slide-active .slide-img{
    scale:2;
    transform:translateX(-60%);
    opacity:0;
    }
    
    .swiper-slide-next .slide-img{
    filter:blur(0);
    scale:1.6;
    transform:translateX(20%);
    opacity:1;
    }
    
    .swiper-slide-next .slide-img-blur{
    opacity:0.5;
    filter:blur(50px);
    z-index:-1;
    transform:translateX(100%);
    }
    
    .swiper-slide-next + .swiper-slide .slide-img{
    filter:blur(10px);
    scale:0.9;
    }
    
    .slide-content{
        position:absolute;
        left:-80%;
        top:50%;
        transform:translateY(-50%);
        width:420px;
        opacity:0;
        filter:blur(20px);
        transition:1.5s ease;
        z-index:5;
        }
    
        .swiper-slide-next .slide-content{
            transform:translateY(-50%);
            opacity:1;
            filter:blur(0);
            }
    
    h1{
    font-family: slab serif;
    }
    
    .slide-content p{
    font-size:15px;
    color:rgba(0,0,0,0.8);
    }
    
    .explore-btn{
    background:transparent;
    border:none;
    font-weight:600;
    display:flex;
    font-size:18px;
    text-transform:uppercase;
    }
    /* ---------- TABLET ---------- */
@media (max-width: 1024px) {

    .slide-img{
      right:-20%;
      top:35%;
      transform:translateY(-50%) scale(0.6);
      width:240px;
    }
  
    .swiper-slide-active .slide-img{
      transform:translateX(-30%) scale(1.6);
    }
  
    .swiper-slide-next .slide-img{
      transform:translateX(10%) scale(1.3);
    }
  
  }
  
  
  /* ---------- PHONE ---------- */
  @media (max-width: 640px) {
  
    .slide-img{
      position:relative;
      right:auto;
      top:auto;
      transform:none;
      width:220px;
      margin:auto;
      filter:none;
    }
  
    .swiper-slide-active .slide-img,
    .swiper-slide-next .slide-img{
      transform:none;
      scale:1;
      opacity:1;
    }
  
    .slide-img-blur{
      display:none;
    }
  
  }